<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEUj-Un2QGJPRC9yHQd5kfaYYZXXqt0KA</string>
	<key>GCM_SENDER_ID</key>
	<string>219093566645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>time.up.timeUp</string>
	<key>PROJECT_ID</key>
	<string>timeup-f2e71</string>
	<key>STORAGE_BUCKET</key>
	<string>timeup-f2e71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219093566645:ios:32880d2309f7efec996afc</string>
</dict>
</plist>